@page
@model ServerSide.Pages.PropertyParcelModel
@{
    ViewBag.Title = string.IsNullOrWhiteSpace(Model?.AccountNumber) ? "Accounts" : Model?.AccountNumber;
}
@*004000053001*@

<script type="text/javascript">
    function handleSearchQuery(textBox) {
        var route = '/RealPropertyAccounts/Search?Query=';

        fetch(`${route}${textBox.value}`)
            .then(
                function (response) {
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                        return;
                    }

                    // Examine the text in the response
                    response.json().then(function (data) {
                        console.log(data);

                        var options = '';

                        for (var i = 0; i < data.length; i++) {
                            options += '<option value="' + data[i] + '" />';
                        }

                        var datalist = document.createElement("datalist");
                        datalist.id = 'realaccountoptions';
                        datalist.innerHTML = options;
                        var textBox = document.getElementById("searchInput");
                        var check = document.getElementById('realaccountoptions');
                        if (typeof (check) != 'undefined' && check != null) {
                            check.remove();
                        }
                        textBox.appendChild(datalist);
                        textBox.setAttribute('list', 'realaccountoptions');
                        console.log(datalist);
                    });
                }
            )
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
    }

    function onInput(textBox) {
        var val = document.getElementById("searchInput").value;
        var check = document.getElementById('realaccountoptions');
        if (typeof (check) != 'undefined' && check != null) {
            var opts = document.getElementById('realaccountoptions').childNodes;
            for (var i = 0; i < opts.length; i++) {
                if (opts[i].value === val) {
                    var form = document.getElementById("searchForm");
                    form.submit();
                }
            }
        }
        handleSearchQuery(textBox);
    }

</script>

@{
    if (Model?.Parcels is not null && Model.Parcels.Any())
    {
        <section class="hero is-success is-small">
            <div class="hero-body container">
                <div class="has-text-centered">
                    <p class="title is-1">Property Parcel</p>
                    <p class="subtitle">A service of King County</p>
                    <form asp-page="./PropertyParcel" method="get" id="searchForm">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input id="searchInput" class="input is-large" name="accountNumber" type="text" placeholder="Enter an account number" value="@Model?.AccountNumber" onchange="handleSearchQuery(this)" autocomplete="off" oninput="onInput(this)">
                            </p>
                            @*<p class="control">
                                    <input type="submit" id="submitSearch" value="Search" class="button is-large is-success is-inverted is-focused" />
                                </p>*@
                        </div>
                    </form>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="hero is-link is-halfheight">
            <div class="hero-body container">
                <div class="has-text-centered">
                    <p class="title is-1">Property Parcel</p>
                    <p class="subtitle">A service of King County</p>
                    <form asp-page="./PropertyParcel" method="get" id="searchForm">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input id="searchInput" class="input is-large" name="accountNumber" type="text" placeholder="Enter an account number" value="@Model?.AccountNumber" onchange="handleSearchQuery(this)" autocomplete="off" oninput="onInput(this)">
                            </p>
                            @*<p class="control">
                                    <input type="submit" id="submitSearch" value="Search" class="button is-large is-link is-inverted is-focused" />
                                </p>*@
                        </div>
                    </form>
                </div>
            </div>
        </section>
    }
}
@{
    if (Model?.Parcels is not null && Model.Parcels.Any())
    {
        <section class="section container pt-3">
            <nav class="breadcrumb is-centered has-arrow-separator mb-3" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#">King County</a></li>
                    <li><a href="/">Property Parcel</a></li>
                    <li class="is-active"><a href="#" aria-current="page">@Model?.Parcels.Count Results Found</a></li>
                </ul>
            </nav>
            @foreach (var parcel in Model.Parcels)
            {
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-primary">
                                    <p class="subtitle">Parcel Number</p>
                                    <p class="title">@parcel.ParcelNumber</p>
                                    @*<p class="subtitle">Major</p>
                                        <p class="title">@parcel.Major</p>
                                        <p class="subtitle">Minor</p>
                                        <p class="title">@parcel.Minor</p>*@
                                    <p class="subtitle">Range</p>
                                    <p class="title">@parcel.Range</p>
                                    <p class="subtitle">Township</p>
                                    <p class="title">@parcel.Township</p>
                                    <p class="subtitle">Section</p>
                                    <p class="title">@parcel.Section</p>
                                    <p class="subtitle">Quarter Section</p>
                                    <p class="title">@parcel.QuarterSection</p>
                                    @if (!string.IsNullOrWhiteSpace(parcel.PlatName))
                                    {
                                        <p class="subtitle">Plat Name</p>
                                        <p class="title">@parcel.PlatName</p>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(parcel.PlatLot))
                                    {
                                        <p class="subtitle">Plat Lot</p>
                                        <p class="title">@parcel.PlatLot</p>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(parcel.PlatBlock))
                                    {
                                        <p class="subtitle">Plat Block</p>
                                        <p class="title">@parcel.PlatBlock</p>
                                    }
                                </article>
                                <article class="tile is-child notification is-warning">
                                    @{
                                        var views = 0;

                                        if (!string.IsNullOrWhiteSpace(parcel.MtRainier))
                                        {
                                            views++;
                                            <p class="subtitle">Mount Rainier (Tahoma) View</p>
                                            <p class="title">@parcel.MtRainier</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Olympics))
                                        {
                                            views++;
                                            <p class="subtitle">Olympics View</p>
                                            <p class="title">@parcel.Olympics</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Cascades))
                                        {
                                            views++;
                                            <p class="subtitle">Cascades View</p>
                                            <p class="title">@parcel.Cascades</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Territorial))
                                        {
                                            views++;
                                            <p class="subtitle">Territorial View</p>
                                            <p class="title">@parcel.Territorial</p>
                                        }


                                        if (!string.IsNullOrWhiteSpace(parcel.SeattleSkyline))
                                        {
                                            views++;
                                            <p class="subtitle">Seattle Skyline View</p>
                                            <p class="title">@parcel.SeattleSkyline</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.PugetSound))
                                        {
                                            views++;
                                            <p class="subtitle">Puget Sound View</p>
                                            <p class="title">@parcel.PugetSound</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.LakeWashington))
                                        {
                                            views++;
                                            <p class="subtitle">Lake Washington View</p>
                                            <p class="title">@parcel.LakeWashington</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.LakeSammamish))
                                        {
                                            views++;
                                            <p class="subtitle">Lake Sammamish View</p>
                                            <p class="title">@parcel.LakeSammamish</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.SmallLakeRiverCreek))
                                        {
                                            views++;
                                            <p class="subtitle">Small Lake, River, or Creek View</p>
                                            <p class="title">@parcel.SmallLakeRiverCreek</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.OtherView))
                                        {
                                            views++;
                                            <p class="subtitle">Other View</p>
                                            <p class="title">@parcel.OtherView</p>
                                        }

                                        if (views == 0)
                                        {
                                            <p class="subtitle">Views and Ratings</p>
                                            <p class="title">None</p>
                                        }

                                        var waterfront = 0;
                                        // 2425049244
                                        if (!string.IsNullOrWhiteSpace(parcel.WfntLocation))
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Location</p>
                                            <p class="title">@parcel.WfntLocation</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WfntFootage) && parcel.WfntFootage != "0")
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Footage</p>
                                            <p class="title">@parcel.WfntFootage Square Feet</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WfntBank))
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Bank</p>
                                            <p class="title">@parcel.WfntBank</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WfntPoorQuality) && parcel.WfntPoorQuality != "No")
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Poor Quality</p>
                                            <p class="title">@parcel.WfntPoorQuality</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WfntRestrictedAccess))
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Restricted Access</p>
                                            <p class="title">@parcel.WfntRestrictedAccess</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WfntAccessRights) && parcel.WfntAccessRights != "N")
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Access Rights</p>
                                            <p class="title">Yes</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WfntProximityInfluence) && parcel.WfntProximityInfluence != "N")
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Proximity Influence</p>
                                            <p class="title">Yes</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.TidelandShoreland))
                                        {
                                            waterfront++;
                                            <p class="subtitle">Waterfront Tideland or Shoreland</p>
                                            <p class="title">@parcel.TidelandShoreland</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.LotDepthFactor) && parcel.LotDepthFactor != "0")
                                        {
                                            waterfront++;
                                            <p class="subtitle">Lot Depth Factor</p>
                                            <p class="title">@parcel.LotDepthFactor</p>
                                        }

                                        if (waterfront == 0)
                                        {
                                            <p class="subtitle">Waterfront</p>
                                            <p class="title">None</p>
                                        }

                                        var nuisances = 0;
                                        if (!string.IsNullOrWhiteSpace(parcel.TrafficNoise) && parcel.TrafficNoise != "0")
                                        {
                                            nuisances++;
                                            <p class="subtitle">Traffic Noise</p>
                                            <p class="title">@parcel.TrafficNoise</p>
                                        }


                                        if (!string.IsNullOrWhiteSpace(parcel.AirportNoise) && parcel.AirportNoise != "0")
                                        {
                                            nuisances++;
                                            <p class="subtitle">Airport Noise</p>
                                            <p class="title">@parcel.AirportNoise</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.PowerLines) && parcel.PowerLines != "N")
                                        {
                                            nuisances++;
                                            <p class="subtitle">Power Lines</p>
                                            <p class="title">Yes</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.OtherNuisances) && parcel.OtherNuisances != "N")
                                        {
                                            nuisances++;
                                            <p class="subtitle">Other Nuisances</p>
                                            <p class="title">Yes</p>
                                        }


                                        if (nuisances == 0)
                                        {
                                            <p class="subtitle">Nuisances</p>
                                            <p class="title">None</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.NbrBldgSites) && parcel.NbrBldgSites != "0")
                                        {
                                            <p class="subtitle">Number of Building Sites</p>
                                            <p class="title">@parcel.NbrBldgSites</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Contamination) && parcel.Contamination != "0")
                                        {
                                            <p class="subtitle">Contamination</p>
                                            <p class="title">Yes</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.DNRLease) && parcel.DNRLease != "N")
                                        {
                                            <p class="subtitle">DNR Lease</p>
                                            <p class="title">Yes</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.AdjacentGolfFairway) && parcel.AdjacentGolfFairway != "N")
                                        {
                                            <p class="subtitle">Adjacent Golf Fairway</p>
                                            <p class="title">Yes</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.AdjacentGreenbelt) && parcel.AdjacentGreenbelt != "N")
                                        {
                                            <p class="subtitle">Adjacent Greenbelt</p>
                                            <p class="title">@parcel.AdjacentGreenbelt</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.HistoricSite) && parcel.HistoricSite != "0")
                                        {
                                            <p class="subtitle">Historic Site</p>
                                            <p class="title">@parcel.HistoricSite</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.CurrentUseDesignation) && parcel.CurrentUseDesignation != "0")
                                        {
                                            <p class="subtitle">Current Use Designation</p>
                                            <p class="title">@parcel.CurrentUseDesignation</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.NativeGrowthProtEsmt) && parcel.NativeGrowthProtEsmt != "N")
                                        {
                                            <p class="subtitle">Native Growth Protection Easement</p>
                                            <p class="title">@parcel.NativeGrowthProtEsmt</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Easements) && parcel.Easements != "N")
                                        {
                                            <p class="subtitle">Easements</p>
                                            <p class="title">@parcel.Easements</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.DeedRestrictions) && parcel.DeedRestrictions != "N")
                                        {
                                            <p class="subtitle">Deed Restrictions</p>
                                            <p class="title">@parcel.DeedRestrictions</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.DevelopmentRightsPurch) && parcel.DevelopmentRightsPurch != "N")
                                        {
                                            <p class="subtitle">Development Rights Purchased</p>
                                            <p class="title">@parcel.DevelopmentRightsPurch</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.CoalMineHazard) && parcel.CoalMineHazard != "N")
                                        {
                                            <p class="subtitle">Coal Mine Hazard</p>
                                            <p class="title">@parcel.CoalMineHazard</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.CriticalDrainage) && parcel.CriticalDrainage != "N")
                                        {
                                            <p class="subtitle">Critical Drainage</p>
                                            <p class="title">@parcel.CriticalDrainage</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.ErosionHazard) && parcel.ErosionHazard != "N")
                                        {
                                            <p class="subtitle">Erosion Hazard</p>
                                            <p class="title">@parcel.ErosionHazard</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.LandfillBuffer) && parcel.LandfillBuffer != "N")
                                        {
                                            <p class="subtitle">Landfill Buffer</p>
                                            <p class="title">@parcel.LandfillBuffer</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.HundredYrFloodPlain) && parcel.HundredYrFloodPlain != "N")
                                        {
                                            <p class="subtitle">Hundred Year Flood Plain</p>
                                            <p class="title">@parcel.HundredYrFloodPlain</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.SeismicHazard) && parcel.SeismicHazard != "N")
                                        {
                                            <p class="subtitle">Seismic Hazard</p>
                                            <p class="title">@parcel.SeismicHazard</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.LandslideHazard) && parcel.LandslideHazard != "N")
                                        {

                                            <p class="subtitle">Landslide Hazard</p>
                                            <p class="title">@parcel.LandslideHazard</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.SteepSlopeHazard) && parcel.SteepSlopeHazard != "N")
                                        {
                                            <p class="subtitle">Steep Slope Hazard</p>
                                            <p class="title">@parcel.SteepSlopeHazard</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Stream) && parcel.Stream != "N")
                                        {
                                            <p class="subtitle">Stream</p>
                                            <p class="title">@parcel.Stream</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Wetland) && parcel.Wetland != "N")
                                        {
                                            <p class="subtitle">Wetland</p>
                                            <p class="title">@parcel.Wetland</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.Wetland) && parcel.Wetland != "N")
                                        {
                                            <p class="subtitle">Species Of Concern</p>
                                            <p class="title">@parcel.SpeciesOfConcern</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.SensitiveAreaTract) && parcel.SensitiveAreaTract != "N")
                                        {
                                            <p class="subtitle">Sensitive Area Tract</p>
                                            <p class="title">@parcel.SensitiveAreaTract</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.WaterProblems) && parcel.WaterProblems != "N")
                                        {
                                            <p class="subtitle">Water Problems</p>
                                            <p class="title">@parcel.WaterProblems</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.TranspConcurrency) && parcel.TranspConcurrency != "N")
                                        {
                                            <p class="subtitle">Transportation Concurrency</p>
                                            <p class="title">@parcel.TranspConcurrency</p>
                                        }

                                        if (!string.IsNullOrWhiteSpace(parcel.OtherProblems) && parcel.OtherProblems != "N")
                                        {
                                            <p class="subtitle">Other Problems</p>
                                            <p class="title">@parcel.OtherProblems</p>
                                        }


                                    }
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-info">
                                    <p class="subtitle">Property Type</p>
                                    <p class="title">@parcel.PropType</p>
                                    <p class="subtitle">Area</p>
                                    <p class="title">@parcel.Area</p>
                                    <p class="subtitle">SubArea</p>
                                    <p class="title">@parcel.SubArea</p>
                                    @if (!string.IsNullOrWhiteSpace(parcel.SpecArea))
                                    {
                                        <p class="subtitle">SpecArea</p>
                                        <p class="title">@parcel.SpecArea</p>
                                        <p class="subtitle">SpecSubArea</p>
                                        <p class="title">@parcel.SpecSubArea</p>
                                    }
                                    <p class="subtitle">District Name</p>
                                    <p class="title">@parcel.DistrictName</p>
                                    <p class="subtitle">Levy Code</p>
                                    <p class="title">@parcel.LevyCode</p>
                                    <p class="subtitle">Zoning</p>
                                    <p class="title">@parcel.CurrentZoning</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <div class="content">
                                @if (!string.IsNullOrWhiteSpace(parcel.HBUAsIfVacant))
                                {
                                    <p class="subtitle">HBU As If Vacant</p>
                                    <p class="title">@parcel.HBUAsIfVacant</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.HBUAsImproved))
                                {
                                    <p class="subtitle">HBU As Improved</p>
                                    <p class="title">@parcel.HBUAsImproved</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.PresentUse))
                                {
                                    <p class="subtitle">Present Use</p>
                                    <p class="title">@parcel.PresentUse</p>
                                }

                                <p class="subtitle">Lot Square Footage</p>
                                <p class="title">@parcel.SqFtLot</p>

                                @if (!string.IsNullOrWhiteSpace(parcel.WaterSystem))
                                {
                                    <p class="subtitle">Water System</p>
                                    <p class="title">@parcel.WaterSystem</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.SewerSystem))
                                {
                                    <p class="subtitle">Sewer System</p>
                                    <p class="title">@parcel.SewerSystem</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.Access))
                                {
                                    <p class="subtitle">Access</p>
                                    <p class="title">@parcel.Access</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.Topography) && parcel.Topography != "0")
                                {
                                    <p class="subtitle">Topography</p>
                                    <p class="title">Yes</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.StreetSurface))
                                {
                                    <p class="subtitle">Street Surface</p>
                                    <p class="title">@parcel.StreetSurface</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.RestrictiveSzShape) && parcel.RestrictiveSzShape != "0")
                                {
                                    <p class="subtitle">Restrictive Shape</p>
                                    <p class="title">Yes</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.InadequateParking))
                                {
                                    <p class="subtitle">Inadequate Parking</p>
                                    <p class="title">@parcel.InadequateParking</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(parcel.PcntUnusable) && parcel.PcntUnusable != "0")
                                {
                                    <p class="subtitle">Percent Unusable</p>
                                    <p class="title">@parcel.PcntUnusable</p>
                                }
                            </div>
                        </article>
                    </div>
                </div>
            }
        </section>
    }
}
